body{
    background: linear-gradient(rgb(209, 195, 197), white)
}
.userlist{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgb(219, 207, 209), white)
}
.userlist ul li {
    opacity: 1; 
    transform: translateY(0); 
    transition: opacity 0.5s, transform 0.5s;
  }
  

  
